{% extends "flatpages/default.html" %}
{% load custom_filters %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if news_list %}
       <table>
           <tr>
               <td><h4>Название</h4></td>
               <td><h4>Описание</h4></td>
               <td><h4>Автор</h4></td>
               <td><h4>Дата создания</h4></td>
               <td><h4>Ссылка</h4></td>
           </tr>

           {% for news in news_list %}
           <tr>
               <td>{{ news.title|censor }}</td>
               <td>{{ news.text|censor|truncatechars:20 }}</td>
               <td>{{ news.author}}</td>
               <td>{{ news.date|date:"d.m.Y" }}</td>
               <td><a href="{% url 'news_detail' pk=news.id %}">Перейти на запись</a></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}